body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.carousel-container {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;    
}

.image-item {
    min-width: 100%;
    transition: opacity 0.5s ease;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #00000072;
    border: none;
    color: #f4f4f4 ;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.carousel-indicators {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display :flex;
}

.indicator {
    width: 10px;
    height: 10px;
}